<a href="https://colab.research.google.com/github/csanny/Survice-BERT/blob/main/predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown 11leMEhHaFBaPLSs1NnD3wSdq4zWWEzvy
!gdown 1W6u5x2MtHjktTurFwPBm6-yLQ_J_Py_w

Downloading...
From: https://drive.google.com/uc?id=11leMEhHaFBaPLSs1NnD3wSdq4zWWEzvy
To: /content/Survice-BERT_V1_32-32.pt
100% 436M/436M [00:02<00:00, 211MB/s]
Downloading...
From: https://drive.google.com/uc?id=1W6u5x2MtHjktTurFwPBm6-yLQ_J_Py_w
To: /content/Survice-BERT_V3_32-32.pt
100% 442M/442M [00:01<00:00, 276MB/s]

In [2]:
!pip install numpy==1.22.2
!pip install pandas==1.4.4
!pip install NERDA==0.9.6
!pip install torch==1.13.1

import numpy as np
import pandas as pd 
from NERDA.models import NERDA
import torch
import os
from google.colab import drive
import nltk
nltk.download('punkt')

pd.set_option('display.max_rows', 500)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy==1.22.2 in /usr/local/lib/python3.9/dist-packages (1.22.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.4.4 in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas==1.4.4) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: NERDA==0.9.6 in /usr/local/lib/python3.9/dist-packages (0.9.6)
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (3.8.1)
Requirement already satisfied: pyconll in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (3.1.0)
Requirement already satisfied: torch in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (1.13.1+cu116)
Requirement already satisfied: transformers in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (4.27.2)
Requirement already satisfied: progressbar in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (2.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (1.4.4)
Requirement already satisfied: sklearn in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (0.0.post1)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (2022.10.31)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (8.1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (4.65.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (2022.7.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch->NERDA==0.9.6) (4.5.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (0.13.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (0.13.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (3.10.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (23.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (2.27.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->NERDA==0.9.6) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (3.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch==1.13.1 in /usr/local/lib/python3.9/dist-packages (1.13.1+cu116)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch==1.13.1) (4.5.0)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
model_v1 = torch.load('/content/Survice-BERT_V1_32-32.pt')
model_v3 = torch.load('/content/Survice-BERT_V3_32-32.pt')

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator LabelEncoder from version 0.24.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [13]:
def merged_results(predict_result_v1_s, predict_result_v3_s):
  predict_result_merge = []

  for i in range(len(predict_result_v1_s[1][0])):
    if predict_result_v1_s[1][0][i] != predict_result_v3_s[1][0][i]:
      if predict_result_v1_s[1][0][i] in ['B-CASE', 'B-DISEASE', 'I-DISEASE']:
        predict_result_merge.append(predict_result_v1_s[1][0][i])
      else:
        predict_result_merge.append(predict_result_v3_s[1][0][i])
    else:
      predict_result_merge.append(predict_result_v3_s[1][0][i])

  return predict_result_merge

In [14]:
sentence1 = 'However, since 4 January 2023 and as of 13 February 2023, 11 cases (10 confirmed and one probable) including eight deaths (Case Fatality Rate (CFR) 73%) have been reported across two divisions in Bangladesh.'
predict_result_v1 = model_v1.predict_text(sentence1)
predict_result_v3 = model_v3.predict_text(sentence1)

pd.DataFrame({'value':predict_result_v1[0][0], 'ner_v1':predict_result_v1[1][0] , 'ner_v3':predict_result_v3[1][0], 'ner_vm': merged_results(predict_result_v1, predict_result_v3)})

         value        ner_v1        ner_v3        ner_vm
0      However             O             O             O
1            ,             O             O             O
2        since             O             O             O
3            4    B-DATE_DAY    B-DATE_DAY    B-DATE_DAY
4      January  B-DATE_MONTH  B-DATE_MONTH  B-DATE_MONTH
5         2023   B-DATE_YEAR   B-DATE_YEAR   B-DATE_YEAR
6          and             O             O             O
7           as             O             O             O
8           of             O             O             O
9           13    B-DATE_DAY    B-DATE_DAY    B-DATE_DAY
10    February  B-DATE_MONTH  B-DATE_MONTH  B-DATE_MONTH
11        2023   B-DATE_YEAR   B-DATE_YEAR   B-DATE_YEAR
12           ,             O             O             O
13          11        B-CASE        B-CASE        B-CASE
14       cases             O             O             O
15           (             O             O             O
16          10        B-CASE        B-CASE        B-CASE
17   confirmed             O             O             O
18         and             O             O             O
19         one        B-CASE       B-DEATH        B-CASE
20    probable             O             O             O
21           )             O             O             O
22   including             O             O             O
23       eight       B-DEATH       B-DEATH       B-DEATH
24      deaths             O             O             O
25           (             O             O             O
26        Case             O             O             O
27    Fatality             O             O             O
28        Rate             O             O             O
29           (             O             O             O
30         CFR             O             O             O
31           )             O             O             O
32          73             O             O             O
33           %             O             O             O
34           )             O             O             O
35        have             O             O             O
36        been             O             O             O
37    reported             O             O             O
38      across             O             O             O
39         two             O             O             O
40   divisions             O             O             O
41          in             O             O             O
42  Bangladesh         B-LOC         B-LOC         B-LOC
43           .             O             O             O

In [16]:
sentence2 = 'From 1 November 2022 to 27 January 2023, a total of 559 cases of meningitis (of which 111 are laboratory confirmed), including 18 deaths (overall CFR 3.2%), have been reported from Zinder Region, southeast of Niger, compared to the 231 cases reported during 1 November 2021 to 31 January 2022.'
predict_result_v1 = model_v1.predict_text(sentence2)
predict_result_v3 = model_v3.predict_text(sentence2)

pd.DataFrame({'value':predict_result_v1[0][0], 'ner_v1':predict_result_v1[1][0] , 'ner_v3':predict_result_v3[1][0], 'ner_vm': merged_results(predict_result_v1, predict_result_v3)})

         value        ner_v1        ner_v3        ner_vm
0         From             O             O             O
1            1    B-DATE_DAY    B-DATE_DAY    B-DATE_DAY
2     November  B-DATE_MONTH  B-DATE_MONTH  B-DATE_MONTH
3         2022   B-DATE_YEAR   B-DATE_YEAR   B-DATE_YEAR
4           to             O             O             O
5           27    B-DATE_DAY    B-DATE_DAY    B-DATE_DAY
6      January  B-DATE_MONTH  B-DATE_MONTH  B-DATE_MONTH
7         2023   B-DATE_YEAR   B-DATE_YEAR   B-DATE_YEAR
8            ,             O             O             O
9            a             O             O             O
10       total             O             O             O
11          of             O             O             O
12         559        B-CASE        B-CASE        B-CASE
13       cases             O             O             O
14          of             O             O             O
15  meningitis     B-DISEASE             O     B-DISEASE
16           (             O             O             O
17          of             O             O             O
18       which             O             O             O
19         111        B-CASE        B-CASE        B-CASE
20         are             O             O             O
21  laboratory             O             O             O
22   confirmed             O             O             O
23           )             O             O             O
24           ,             O             O             O
25   including             O             O             O
26          18       B-DEATH       B-DEATH       B-DEATH
27      deaths             O             O             O
28           (             O             O             O
29     overall             O             O             O
30         CFR             O             O             O
31         3.2             O             O             O
32           %             O             O             O
33           )             O             O             O
34           ,             O             O             O
35        have             O             O             O
36        been             O             O             O
37    reported             O             O             O
38        from             O             O             O
39      Zinder         B-LOC         B-LOC         B-LOC
40      Region         I-LOC         I-LOC         I-LOC
41           ,             O         B-LOC         B-LOC
42   southeast         B-LOC         B-LOC         B-LOC
43          of         I-LOC         I-LOC         I-LOC
44       Niger         I-LOC         B-LOC         B-LOC
45           ,             O             O             O
46    compared             O             O             O
47          to             O             O             O
48         the             O             O             O
49         231        B-CASE        B-CASE        B-CASE
50       cases             O             O             O
51    reported             O             O             O
52      during             O             O             O
53           1    B-DATE_DAY    B-DATE_DAY    B-DATE_DAY
54    November  B-DATE_MONTH  B-DATE_MONTH  B-DATE_MONTH
55        2021   B-DATE_YEAR   B-DATE_YEAR   B-DATE_YEAR
56          to             O             O             O
57          31    B-DATE_DAY    B-DATE_DAY    B-DATE_DAY
58     January  B-DATE_MONTH  B-DATE_MONTH  B-DATE_MONTH
59        2022   B-DATE_YEAR   B-DATE_YEAR   B-DATE_YEAR
60           .             O             O             O

In [17]:
sentence3 = 'A total of 3 cases of MVE virus infection and 2 deaths have been reported in Victoria this mosquito season.'
predict_result_v1 = model_v1.predict_text(sentence3)
predict_result_v3 = model_v3.predict_text(sentence3)

pd.DataFrame({'value':predict_result_v1[0][0], 'ner_v1':predict_result_v1[1][0] , 'ner_v3':predict_result_v3[1][0], 'ner_vm': merged_results(predict_result_v1, predict_result_v3)})

        value       ner_v1     ner_v3     ner_vm
0           A            O          O          O
1       total            O          O          O
2          of            O          O          O
3           3       B-CASE     B-CASE     B-CASE
4       cases            O          O          O
5          of            O          O          O
6         MVE    B-DISEASE  B-DISEASE  B-DISEASE
7       virus    I-DISEASE  I-DISEASE  I-DISEASE
8   infection            O          O          O
9         and            O          O          O
10          2      B-DEATH    B-DEATH    B-DEATH
11     deaths            O          O          O
12       have            O          O          O
13       been            O          O          O
14   reported            O          O          O
15         in            O          O          O
16   Victoria        B-LOC      B-LOC      B-LOC
17       this  B-DATE_YEAR          O          O
18   mosquito        I-LOC          O          O
19     season            O          O          O
20          .            O          O          O